/* Color Cheatsheet */
:not(*) {
    color: #eee;
    color: #32e0c4;
    color: #393e46;
    color: #222831;

    /* extra */
    color: #7fe5f0;
    color: #12947F;
    color: #162723;
}


/* ---------------- Big Guys ---------------- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #393e46 20%,#162723 90%);
    min-height: 100vh;
    overflow: auto;
    color: #c7c7c7;
}

header {
    border-radius: 0.4rem;
    color: #e1e1e1;
    border: 1px solid #12947F;
    background: linear-gradient(130deg, #222831 65%,#393e46);
    text-align: center;
    padding: 0.8rem 0 0.8rem;
    margin: 0.29rem 0 0.5rem;
    font-size: 0.9em;
}

main {
    max-width: 85%;
    min-width: 800px;
    margin: 3rem auto;
}

#nav {
    float: left;
    width: 25%;
}

#showbox {
    float: left;
    width: 40%;
    min-width: 150px;
    max-width: 400px;
    margin: 0 1.6rem 0 2rem;
}

#cover {
    width: 100%;
    border-radius: 0.6rem;
}

.playlist {
    float:left;
    width: 25%;
    counter-reset: playlist-counter;
}

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
}

/* ---------------- Main Styling ---------------- */
:is(.playlist, .albums-list) li {
    border: 1px solid #12947F;
    background: linear-gradient(130deg, #222831 65%,#393e46);
    width: 100%;
    margin: 0.4rem;
    /* padding: 0.4rem; */
    border-radius: 0.4rem;
}

a {
    text-decoration: none;
    color: #32e0c4;
    cursor: pointer;
}

a:hover {
    color: #7fe5f0;
}

.albums-list a {
    display: block;
    width: 100%;
    min-height: 100%;
    height: 2.5rem;
    padding-top: 0.7rem;
}

.current-page, .albums-list a:hover {
    color: #393e46;
    border: 1px solid #12947F;
    background: linear-gradient(140deg, #32e0c4 65%, #12947F);
}

.albums-list :is(ul, li) {
    text-align: center;
}

.albums-list li{
    /* padding: 5% 5%; */
    list-style-type: none;
}

.playlist li {
    font-size: 0.9rem;
    padding: 0.3rem;
    min-width: max-content;
    list-style-type: none;
}

.playlist li::before {
    counter-increment: playlist-counter;
    content: counter(playlist-counter) ' ';
}

.duration {
    float: right;
}

.player-controls {
    border: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    margin: 0 0.2rem;
    color: #12947F;
}

p, label, input {
    margin: 0.5rem;
    padding: 0.1rem;
}

[type=submit],[type=reset] {
    padding: 0.5rem;
}

[type=submit] {
    float: left;
    margin-left: 2rem;
}

[type=reset] {
    float: right;
    margin-right: 2rem;
}

#favalbum {
    margin: 8px;
}

#form {
    margin: 3rem auto;
}

#form :is(h2, h3) {
    text-align: center;
    margin-bottom: 1rem;
}
