/* Color Cheatsheet */
:not(*) {
    color: #eee;
    color: #32e0c4;
    color: #393e46;
    color: #222831;

    /* extra */
    color: #7fe5f0;
    color: #12947F;
    color: #162723;
}


/* ---------------- Big Guys ---------------- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #32e0c4,#222831);
    min-height: 100vh;
    overflow: hidden;
}

main {
    max-width: 85%;
    min-width: 800px;
    margin: 3rem auto;
}

#nav {
    float: left;
    width: 25%;
}

#showbox {
    float: left;
    width: 40%;
    min-width: 150px;
    max-width: 400px;
    margin: 0 1.6rem 0 2rem;
}

#cover {
    width: 100%;
    border-radius: 0.4rem;
}

.playlist {
    float:left;
    width: 25%;
    counter-reset: playlist-counter;
}

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
}

/* ---------------- Main Styling ---------------- */
:is(.playlist, .albums-list) li {
    border-radius: 0.4rem;
    border: #162723 2.5px solid;
    width: 100%;
    margin: 0.3rem;
    padding: 0.4rem;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

header {
    border-radius: 0.4rem;
    border: #162723 2.5px solid;
    text-align: center;
    padding: 0.8rem 0 0.8rem;
    margin: 0.29rem 0 0.5rem;
    font-size: 0.9em;
}

.albums-list :is(ul, li) {
    text-align: center;
}

.albums-list li{
    padding: 5% 5%;
    margin-bottom: 1rem;
    list-style-type: none;
}

.playlist li {
    font-size: 0.9rem;
    padding: 0.25rem;
    min-width: max-content;
    list-style-type: none;
}

.playlist li::before {
    counter-increment: playlist-counter;
    content: counter(playlist-counter) ' ';
}

.duration {
    float: right;
}

.player-controls {
    border: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    margin: 0 0.2rem;
}
